@import 'src/styles/utils/colors';
@import 'src/styles/utils/mixins';
@import 'src/styles/base/icon-fonts';

.trigger {
    display: inline-block;
    padding: 10px 25px;
    color: $color_rolling-stone;
    text-align: center;
    cursor: pointer;
    background-color: $color_white;
    border: 2px solid $color_loblolly;
    border-radius: 25px;
}

.title {
  margin: 0;

  &::after {
    @extend .icn-font;
    content: '\e646';
    vertical-align: middle;
  }

  &.expanded {
    &::after {
      content: '\e64c';
    }
  }
}
