@import 'src/styles/utils/colors';
@import 'src/styles/utils/mixins';
@import 'src/styles/base/icon-fonts';

.selectOption {
  line-height: 1.75rem;
  color: $color_picton-blue;
  text-decoration: none;
  position: relative;
  padding: 5px 20px 5px 15px;
  text-align: left;
  white-space: nowrap;
  list-style: none;

  &.active {
    background-color: $color_picton-blue;

    a {
      color: $color_white;
    }
  }

  &.active::after {
    @extend .icn-font;
    content: '\e60c';
    float: right;
    margin-left: 0.7rem;
    line-height: 1.5;
    color: $color_white;
  }

  &:hover {
    background-color: $color_picton-blue;

    a {
      color: $color_white;
    }
  }
}
