@import '../../../styles/utils/mixins';
@import '../../../styles/utils/colors';
@import '../../../styles/variables/nav-bar';
@import '../../../styles/variables/title-bar';

.container {
  height: calc(100vh - $nav_bar_height - $title_bar_height);
  position: relative;
}

.layers {
  padding: 5px;
  text-align: center;

  .dropdown-trigger {
    padding: 5px 20px;
    color: $color_light-grey;
    background-color: $color_picton-blue;
    border-color: $color_picton-blue;
  }

  .expanded-content {
    top: 50px;
  }
}
