@import '../../../styles/utils/colors';

.container {
  display: inline;
}

.item {
  display: inline-block;
  padding: 0 30px;
  font-size: 0.9rem;
  line-height: 68px;
  color: $color_white;
  text-decoration: none;
}

.acitve {
  color: $color_picton-blue;
}
