.map_container {
  height: calc(100vh - $nav_bar_height - $title_bar_height);
  position: relative;
}

.map-layers {
  padding: 5px;
  text-align: center;

  .dropdown-trigger {
    padding: 5px 20px;
    color: #f8f8f8;
    background-color: #46c6e9;
    border-color: #46c6e9;
  }

  .expanded-content {
    top: 50px;
  }
}
