@import '../../../styles/utils/colors';
@import '../../../styles/utils/mixins';

.statCard {
  flex: 1;
  padding: 1.25rem 0;
  margin-left: 1rem;
  text-align: center;
  background-color: $color_white;
  border: 1px solid $color_lavender;
  border-width: 1px 2px 2px 1px;
  border-radius: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.title {
  font-size: 0.8rem;

  &::after {
    display: block;
    width: 30px;
    height: 3px;
    margin: 1.5em auto;
    background-color: $color_loblolly;
    content: '';
  }
}

.primaryStat {
  @mixin font__proxima-nova-thin ;
  font-size: 2.5em;
}

.secondaryStat {
  position: relative;
  display: inline;
  margin-top: 0.3em;
  font-size: 0.9rem;
  color: $color_rolling-stone;

  &.down::before {
    top: 5px;
    border-top-color: $color_red;
    border-bottom-color: rgba(0, 0, 0, 0);
  }

  &::before {
    position: absolute;
    top: 1px;
    left: -14px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-bottom-color: $color_green;
    content: '';
  }
}


.primaryText {
  @mixin font__proxima-nova-semibold;
  margin-top: 1em;
  font-size: 0.9rem;
}

.secondaryText {
  margin-top: 0.5em;
  font-size: 0.8rem;
  color: $color_rolling-stone;
}
