@import '../../../styles/utils/colors';
@import '../../../styles/utils/mixins';

.mapControls {
  @mixin font__proxima-nova-regular;
  position: absolute;
  top: 30px;
  left: -290px;
  width: 260px;
  max-height: calc(100% - 2 * 30px);
  overflow: visible;
  background-color: $color_light-river-bed;
  transition: left 0.5s ease-in;

  &.expanded {
    left: 30px;
    transition: left 0.5s ease-out;
  }
}

.toggler {
  @mixin font__proxima-nova-thin;
  position: absolute;
  top: 10px;
  left: calc(260px + 30px + 30px);
  width: 40px;
  height: 40px;
  padding-top: 6px;
  font-size: 0.8rem;
  color: #f8f8f8;
  cursor: pointer;
  background-color: $color_picton-blue;
  border: 0;
  border-radius: 50px;
  transition: left 0.5s ease-in;

  &.togglerExpanded {
    left: calc(260px + 30px);
    transition: left 0.5s ease-out;
  }
}
