$color_green: #35c781;
$color_red: #ff6046;
$color_orange: #ffb245;
$color_white: #fff;
$color_river-bed: #313741;
$color_light-river-bed: #3e444e;
$color_dark-river-bed: #1d2127;
$color_rolling-stone: #748288;
$color_dark-rolling-stone: #59676d;
$color_loblolly: #b3bdc1;
$color_ghost: #d7d8db;
$color_mystic: #e6eef1;
$color_mystic-shadow: #cbd3e0;
$color_picton-blue: #46c6e9;
$color_very-dark-blue: #272c34;
$color_pink: #ffafa2;
$color_shadow-grey: #c1c3c6;
$color_lavender: #e0e8f6;
$color_dark-lavender: #d5dfef;
$color_light-lavender: #ecf3fe;
$color_dark-grey: #454e56;
$color_medium-grey: #6b787e;
$color_light-grey: #f8f8f8;
$color_violet: #a07ab8;
$color_dark-violet: #8b68a1;
$color_black: #111;
$color_data-red: #ff645c;
$color_link-blue: #47c6e8;
$color_jelly-bean: #297fa1;
$color_tango: #f06e17;
$color_cerulean: #009dda;
$color_green_plus-15: #0fa15b;
$color_red_plus-15: #d93a20;
$color_orange_plus-15: #d98c1f;
$color_picton-blue_plus-15: #2797c3;
$color_jelly-bean_plus-15: #03597b;
$color_tango_plus-15: #ca4800;
$color_red_notification_new: #ff6260;
$color_green_bg: #edfff6;
$color_red_bg: #fff0ee;
$color_orange_bg: #fff8ed;
$color_picton-blue_bg: #edfaff;
$color_pink--tm-female: #f05c8c;
$color_blue--tm-male: #547cbe;

/* social platform icons */
$color_facebook: #3b5998;
$color_twitter: #27a9e1;
$color_instagram: #517ea3;
$color_tumblr: #31506d;
$color_gold: #fbbd67;
$color_messages-item-footer_bg: #ebf2fa;
$color_tooltip-error: #b34e4d;
$color_map-branch-marker: #f9a225;
$color_map-member-marker: #ed1c24;
