@mixin font-face ($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url('../static/fonts/#{$src}.eot'); /* IE9 */
    src: url('../static/fonts/#{$src}.eot?#iefix') format('embedded-opentype'), /* IE8 and below */
      url('../static/fonts/#{$src}.woff') format('woff'), /* standard */
      url('../static/fonts/#{$src}.ttf') format('truetype'), /* safari, android, iOS */
      url('../static/fonts/#{$src}.svg#$family') format('svg'); /* legacy iOS */
  }
}

@mixin flex-row ($justify: flex-start) {
  display: flex;
  justify-content: $justify;
}

$proxima-stack: 'Helvetica', 'Arial', sans-serif;

@mixin font__proxima-nova-thin {
  font-family: 'proxima_nova_thin', $proxima-stack;
}

@mixin font__proxima-nova-light {
  font-family: 'proxima_nova_light', $proxima-stack;
}

@mixin font__proxima-nova-regular {
  font-family: 'proxima_nova_regular', $proxima-stack;
}

@mixin font__proxima-nova-semibold {
  font-family: 'proxima_nova_semibold', $proxima-stack;
}

@mixin font__proxima-nova-black {
  font-family: 'proxima_nova_black', $proxima-stack;
}

@mixin font__icon {
  font-family: 'font_icon', 'Helvetica', 'Arial', sans-serif;
}
