@import 'src/styles/utils/mixins';
@import 'src/styles/utils/colors';

.container {
  height: 350px;
}

.xAxis,
.yAxis {
  :global {
    .domain,
    line {
      fill: none;
      stroke: $color_dark-grey;
      shape-rendering: crispEdges;
    }

    text {
      @include font__proxima-nova-light;
      fill: $color_shadow-grey;
      stroke: $color_shadow-grey;
      shape-rendering: crispEdges;
    }
  }
}

.female {
  color: $color_pink--tm-female;
  fill: $color_pink--tm-female;
}

.male{
  color: $color_blue--tm-male;
  fill: $color_blue--tm-male;
}

.overview-retention-chart-gender {
  text-align: right;
}

.overview-retention-chart-gender__female,
.overview-retention-chart-gender__male {
  display: inline-block;
  margin-left: 15px;

  &:before {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 5px;
    content: '';
  }
}

.overview-retention-chart-gender__female {
  &:before {
    background-color: $color_pink--tm-female;
  }
}

.overview-retention-chart-gender__male {
  &:before {
    background-color: $color_blue--tm-male;
  }
}
