@import '../../../styles/utils/colors';
@import '../../../styles/utils/mixins';
@import '../../../styles/variables/nav-bar';

.container {
  height: $nav_bar_height;
  letter-spacing: 0.6px;
  background-color: $color_river-bed;
}

.module {
  float: left;
  width: 250px;
  height: $nav_bar_height;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: $color_white;
  text-align: center;
  background-color: $color_picton-blue;
}

.icon {
  display: inline-block;
  width: 20%;
  font-size: 1.25rem;
  vertical-align: middle;
}

.name {
  @mixin font__proxima-nova-semibold;
  display: inline-block;
  width: 65%;
  margin: 0;
  line-height: $nav_bar_height;
}

.links {
  float: left;
}

.linkList {
  padding: 0;
  margin: 0;
  list-style: none;
}
