@import '../../../styles/utils/colors';

.snapshot {
  min-height: 370px;
}

.row {
  padding: 1rem 3rem 2rem;
}

.rowBlue {
  composes: row;
  color: $color_black;
  background-color: $color_light-lavender;
}

.rowTitle {
  display: inline-block;
}

.statRow {
  display: flex;
  justify-content: flex-start;
  margin: 1.2rem 0 1.5rem;
}

.timeframe {
  float: right;
  margin-top: 0.8rem;
}
