@import '../../../styles/utils/colors';
@import '../../../styles/utils/mixins';
@import '../../../styles/variables/title-bar';

.container {
  width: 100%;
  height: $title_bar_height;
  text-align: center;
}

.logout {
  position: relative;
  top: 30px;
  right: 15px;
  float: right;
}

.text {
  @mixin font__proxima-nova-light;
  margin: 0;
  font-size: 1.65rem;
  line-height: 77px;
}
